body {
    margin: 0;
    margin-top: 50px;
    font-family: "Lucida Console", Monaco, monospace
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height:50px;
    line-height:50px;
    background-color: rgb(172, 172, 93);
    font-family: cursive;
    
    
}

header * {
    display: inline;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;   
}

#about
{
    justify-content: center;
    color:black;
}

.mywork
{
    color:rgb(189, 52, 75);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.8cm;
    position: absolute;
    width: 50%;
    bottom: 0;
    border: 3px solid #8AC007;

}


#home .profile-img2 {
    width: 300px;
    border-radius: 50%;

}


footer {
    text-align: center;
    padding: 50px;
}

#home h1 {
    font-size: 3em;
}

section h2 {
    font-size: 2.5em;
}

section h3 {
    font-size: 1.5em;
}

header a {
    text-decoration:none;
    color: indianred;

}

.leftalign { 
    float:left;  
    width:25%; 
    height:280px; 
} 
.rightalign{ 
    float:right; 
    width:25%; 
    height:280px; 
}

.leftalign h3, .rightalign h3
{
    background-color: rgb(172, 172, 93);
    font-family: cursive;
}

.section-inner2 h2, .section-inner3 
{
    font-family: fantasy;
}


#home {
    background-image: linear-gradient(rgba(26, 43, 38, 0.75),rgba(255, 255, 255, 0.644)), url('/images_profile/codingcoffee.jpg');
}

#about {
    background-image: linear-gradient(rgba(16, 20, 22, 0.452),rgba(232, 234, 235, 0.637)), url('/images_profile/abstract.jpg');
}

#contact {
    background-image: linear-gradient(rgba(251, 249, 252, 0.466),rgba(255,255,255,0.75)), url('/images_profile/canyon.jpg');
}